*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "El Messiri";
  src: url("./fonts/ElMessiri-Regular.woff") format("woff"),
    url("./fonts/ElMessiri-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "'El Messiri'";
  src: url("./fonts/ElMessiri-Medium.woff") format("woff"),
    url("./fonts/ElMessiri-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
}

/* Variables */
:root {
  --background: #252829;
  --white: white;
  --blue: #57bbd7;
  --green: #77bc82;
  --grey: #b8b9bb;
  --beige: #fff3f3;
  --black-lighter: #373737;

  --main-font: "Inter";
  --secondary-font: "El Messiri";

  --headline: 6rem;
  --h2: 2.5rem;
  --h3: 1.2rem;
  --body: 1rem;
  --small: 0.875rem;

  --padding: 72px;
  --max-width: 1350px;
  --margin-end: 100px;

  --responsive-margin: auto 3vw var(--margin-end) 3vw;
  --responsive-padding: 0 3vw;

  --loading-grey: #4b4b4b;

  color-scheme: dark;
}

body {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--white);
}

img {
  -webkit-user-select: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input {
  font-family: var(--main-font);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}

/* Text styles */
h1 {
  font-family: var(--secondary-font), serif;
  font-size: var(--headline);
  margin: 0;
  font-weight: 400;
}

.body-bold {
  font-weight: 600;
  font-size: var(--body);
}

h2 {
  font-family: var(--secondary-font), serif;
  font-size: var(--h2);
  margin: 0;
  font-weight: 400;
}

.display2 {
  font-family: var(--secondary-font), serif !important;
  font-size: var(--h2) !important;
}

h3 {
  font-size: var(--h3);
  font-weight: 400;
  margin: 0;
}

.display3 {
  font-size: var(--h3);
  font-weight: 600 !important;
}

p {
  font-size: var(--body);
  margin: 0;
}

small,
.small {
  font-size: var(--small);
}

/* Button */
.btn {
  color: var(--blue);
  font-weight: 600;
  font-size: var(--body);
  display: inline-flex;
  padding: 12px 38px;
  border: solid 2px var(--blue);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover,
.nav-active.btn {
  background-color: var(--blue);
  color: white;
}

/* Header */
header {
  display: flex;
  width: 100%;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--padding);
  position: fixed;
  top: 0;
  z-index: 999;
  transition: 0.2s ease-in-out;
}

header.nav-scroll {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  padding: 0px var(--padding);
}

header.burger.nav-scroll {
  padding: 0 24px;
}

.burger {
  padding: 0 24px;
}

.burger.active {
  display: block;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: 100%;
}

.burger .top-header {
  display: flex;
  width: 100%;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

.burger nav {
  display: none;
}

.burger.active nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  width: 100%;
}

.burger.active nav ul {
  flex-direction: column;
  padding: 0;
}

.burger.active nav ul li {
  font-size: var(--h3);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 72px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

.link {
  position: relative;
  transition: 0.2s;
}

.link::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--blue);
  transition: 0.2s;
}

.link:hover::after {
  width: 100%;
}

.link:hover {
  color: var(--blue);
}

.nav-active.link {
  color: var(--blue);
}

.burgerIcon {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.burgerIcon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 2px;
  border-radius: 2px;
  background: white;
  transition: all 0.2s ease-out;
}

.burgerIcon::before,
.burgerIcon::after {
  content: "";
  width: 32px;
  height: 2px;
  background: white;
  position: absolute;
  border-radius: 2px;
  left: 0;
  transition: all 0.2s ease-out;
}

.burgerIcon::before {
  top: -10px;
}

.burgerIcon::after {
  bottom: -10px;
}

header button {
  width: 48px;
  height: 48px;
  transform: translateX(8px);
  cursor: pointer;
  /* display: none; */
  justify-content: center;
  align-items: center;
}

header.burger button {
  display: flex;
}

header button:hover .burgerIcon::before {
  top: -12px;
}

header button:hover .burgerIcon::after {
  bottom: -12px;
}

.burgerIcon.active {
  background: transparent !important;
}

.burgerIcon.active::before {
  top: 0;
  transform: rotateZ(45deg);
}

.burgerIcon.active::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

header button:hover .burgerIcon.active::before {
  top: 0;
  transform: rotateZ(45deg);
}

header button:hover .burgerIcon.active::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}

/* Main */
.hero {
  position: relative;
  /* background-image: url('../images/tableaux/nuitEtoile.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
  /* filter: brightness(0.5); */
  margin-bottom: var(--margin-end);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero .hero__bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: saturate(0);
  filter: saturate(0);
  transform: scale(1.1);
  transition: transform 0.3s, -webkit-filter 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-filter 0.3s;
  transition: filter 0.3s, transform 0.3s, opacity 0.3s;
  transition: filter 0.3s, transform 0.3s, opacity 0.3s, -webkit-filter 0.3s;
}

.hero a:hover ~ .hero__bg {
  -webkit-filter: revert;
  filter: revert;
  transform: scale(1.15);
  transition: transform 0.3s, -webkit-filter 0.3s;
  transition: filter 0.3s, transform 0.3s;
  transition: filter 0.3s, transform 0.3s, -webkit-filter 0.3s;
}

.hero a:hover ~ .radial__hero {
  opacity: 0;
  transition: opacity 0.3s;
}

.hero a:hover ~ .nav__hero {
  opacity: 0.85;
  transition: opacity 0.3s;
}

.hero .nav__hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 0.3s;
}

.hero .radial__hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.6;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 0.3s;
}

.hero h1 {
  font-size: var(--headline);
  max-width: 800px;
  text-align: center;
  margin-bottom: 48px;
}

.hero-top {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero-top .spacer {
  width: 40px;
  height: 2px;
  display: block;
  background-color: white;
}

.home_infos {
  display: flex;
  margin: auto;
  align-items: center;
  padding: 100px 0 0;
  max-width: var(--max-width);
  gap: 100px;
  margin-bottom: var(--margin-end);
}

.home_infos_left {
  flex: 1;
}

.home_infos_left p {
  font-style: italic;
  margin-top: 24px;
  line-height: 21px;
}

.home_infos_right {
  /* background-color: red; */
  flex: 1;
  position: relative;
  height: 350px;
}

.home_infos_right img {
  position: absolute;
}

.home_infos_right .nuitEtoile {
  top: 0;
  right: 20%;
  width: 60%;
  height: auto;
}

.home_infos_right .pontNeuf {
  bottom: 0;
  left: 0;
  width: 45%;
  height: auto;
}

.home_infos_right .soleilLevant {
  right: 0;
  bottom: 5%;
  width: 40%;
  height: auto;
}

.home_points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  align-items: baseline;
  max-width: var(--max-width);
  gap: 100px;
  margin-bottom: var(--margin-end);
}

.home_points .home_points_element {
  display: flex;
  flex-direction: column;
}

.home_points .home_points_element .home_points_element_circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.circle_one {
  background-color: var(--green);
}

.circle_two {
  background-color: var(--blue);
}

.circle_three {
  background-color: var(--beige);
}

.home_points .home_points_element h3 {
  margin: 15px 0;
  font-family: var(--secondary-font);
}

.home_oeuvres {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width);
}

.home__slider__wrapper {
  position: relative;
  margin-top: 48px;
}

.home__slider__container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: var(--margin-end);
  width: 100%;
  padding-bottom: 72px;
}

.home__slider__container::-webkit-scrollbar {
  display: none;
}

.home__slider {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  position: relative;
}

.oeuvre-card {
  width: 400px;
  min-width: 400px;
  height: 400px;
  min-height: 400px;
  position: relative;
  display: block;
  color: white;
}

.oeuvre-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  transition: 0.2s;
}

.oeuvre-card:hover img {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.oeuvre_infos {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 32px;
}

.oeuvre-card .spacer {
  width: 64px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
}

/* .home__slider__btn--right {
  position: absolute;
  bottom: 0;
  right: 0;
} */

.home__slider__btns button {
  display: inline-flex;
}

.home__slider__btns button:disabled {
  opacity: 0.3;
}

.home__slider__btns {
  display: inline-flex;
  gap: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__slider__btn--left {
  transform: rotate(180deg);
}

@media screen and (max-width: 1400px) {
  .home_infos,
  .home_points,
  .home_oeuvres {
    padding: var(--responsive-padding);
  }
}

@media screen and (max-width: 1050px) {
  .hero h1 {
    font-size: 5rem;
  }

  .home_infos_right .pontNeuf {
    bottom: 16%;
  }

  .home_infos_right .soleilLevant {
    bottom: 20%;
  }
}

@media screen and (max-width: 910px) {
  .home_infos_right .nuitEtoile {
    width: 70%;
  }

  .home_infos_right .pontNeuf {
    bottom: 25%;
  }

  .home_infos_right .soleilLevant {
    bottom: 30%;
  }
}

@media screen and (max-width: 800px) {
  .home_infos {
    flex-direction: column;
    margin-bottom: 0px;
    gap: 0;
  }

  .home_infos_right {
    width: 90vw;
    margin: 7vh 0 15vh 0;
    flex: initial;
  }

  .home_infos_right .nuitEtoile {
    width: 50%;
  }

  .home_infos_right .soleilLevant {
    bottom: 0%;
    width: 35%;
  }

  .home_infos_right .pontNeuf {
    top: 36%;
    left: 5%;
    width: 37%;
  }
}

@media screen and (max-width: 730px) {
  .hero h1 {
    font-size: 4.5rem;
  }

  .hero-top {
    gap: 15px;
  }

  .home_points {
    gap: 45px;
  }
}

@media screen and (max-width: 640px) {
  .home_points {
    gap: 30px;
  }

  .home_infos_right .soleilLevant {
    bottom: 14%;
  }
}

@media screen and (max-width: 590px) {
  .hero h1 {
    font-size: 4rem;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 2vh;
  }

  .hero-top {
    gap: 10px;
  }

  .hero-top .spacer {
    width: 25px;
  }

  .home_points {
    flex-direction: column;
    align-items: self-start;
    text-align: left;
    width: 100%;
    gap: 55px;
    margin-top: 5vh;
  }

  .home_points .home_points_element {
    align-items: self-start;
  }

  .home_infos_right {
    margin-bottom: 0;
    height: 284px;
  }

  .home_infos_right .soleilLevant {
    bottom: 28%;
    right: 8%;
  }
}

@media screen and (max-width: 555px) {
  .home_infos_right .nuitEtoile {
    width: 65%;
    right: 17%;
  }

  .home_infos_right .pontNeuf {
    width: 41%;
  }

  .home_infos_right .soleilLevant {
    bottom: 11%;
    width: 37%;
  }
}

@media screen and (max-width: 470px) {
  .home_infos_right .soleilLevant {
    bottom: 25%;
  }
}

@media screen and (max-width: 430px) {
  .hero h1 {
    font-size: 2.5rem !important;
  }

  .display3 {
    font-size: 1rem;
  }

  .btn {
    padding: 12px 20px;
  }
}

@media screen and (max-width: 400px) {
  .home_infos_right {
    margin: 7vh 0 0 0;
  }

  .home_infos_right .soleilLevant {
    bottom: 34%;
  }

  .home_infos_right .pontNeuf {
    top: 30%;
  }

  .home_infos_right .soleilLevant {
    bottom: 38%;
  }
}

@media screen and (max-width: 365px) {
  .display3 {
    font-size: 0.8rem;
  }

  .hero h1 {
    font-size: 2.2rem !important;
  }

  .hero-top .spacer {
    width: 15px;
  }
}

@media screen and (max-width: 330px) {
  .home_infos_right .nuitEtoile {
    width: 85%;
    right: 9%;
  }

  .home_infos_right .soleilLevant {
    width: 37%;
    bottom: 31%;
    right: 2%;
  }

  .home_infos_right .pontNeuf {
    top: 37%;
    width: 49%;
    left: -2%;
  }
}

@media screen and (max-width: 280px) {
  .home_infos_right .soleilLevant {
    bottom: 39%;
  }

  .home_infos_right .pontNeuf {
    top: 34%;
    width: 50%;
  }
}

/* Découvrir */
.banner__top img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.banner__top h1 {
  padding: 0 var(--padding);
  position: relative;
  bottom: 11vh;
  font-size: calc(2rem + 5vw);
  width: 95vw;
}

.discover_infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: var(--margin-end);
}

.discover_infos .discover_infos_left h2 {
  width: 70%;
}

.discover_infos .discover_infos_right {
  width: 70%;
}

.discover_infos .discover_infos_right p {
  text-align: justify;
}

.discover_univers {
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: var(--margin-end);
}

.discover_univers h2 {
  margin-bottom: 3vh;
}

.discover_univers .discover_univers_contenu {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  text-align: justify;
}

.discover_univers_contenu h3 {
  font-family: var(--secondary-font);
  font-size: var(--h3);
  margin-bottom: 4vh;
}

.discover_app {
  padding: 30px var(--padding);
  background-color: var(--beige);
  border-radius: 20px;
  color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: var(--margin-end);
}

.discover_app .discover_app_left {
  width: 50%;
}

.discover_app_left img {
  width: 400px;
  height: auto;
}

.discover_app .discover_app_right {
  width: 50%;
}

.discover_app .discover_app_right h2 {
  margin-top: 0;
  margin-bottom: 2vh;
}

.discover_app .discover_app_right p {
  margin-bottom: 2vh;
}

.discover_app .discover_app_right a {
  margin-top: 3vh;
}

@media screen and (max-width: 1400px) {
  .discover_infos {
    padding: var(--responsive-padding);
  }

  .discover_univers {
    padding: var(--responsive-padding);
  }

  .discover_app {
    margin: var(--responsive-margin);
  }
}

@media screen and (max-width: 970px) {
  .discover_app_left img {
    width: 365px;
  }

  .banner__top h1 {
    width: 80vw;
  }

  .discover_app {
    gap: 30px;
  }
}

@media screen and (max-width: 830px) {
  .discover_app {
    padding: 20px;
  }

  .banner__top h1 {
    width: 80vw;
  }
}

@media screen and (max-width: 700px) {
  .banner__top h1 {
    width: 90vw;
  }

  .discover_app {
    gap: 55px;
  }

  .discover_app_left img {
    width: 330px;
  }
}

@media screen and (max-width: 600px) {
  .banner__top h1 {
    width: 97vw;
  }

  .discover_infos {
    flex-direction: column;
  }

  .discover_infos .discover_infos_left h2 {
    width: 100%;
    margin-bottom: 3vh;
  }

  .discover_infos .discover_infos_right {
    width: 100%;
  }

  .discover_univers .discover_univers_contenu {
    flex-direction: column;
  }

  .discover_app {
    flex-direction: column;
    padding: 30px var(--padding);
  }

  .discover_app .discover_app_left {
    display: none;
  }

  .discover_app .discover_app_right {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .banner__top h1 {
    font-size: calc(2rem + 4vw);
    width: 95vw;
    bottom: 11vh;
    padding: 0 20px;
  }

  .banner__top img {
    height: 240px;
  }
}

@media screen and (max-width: 500px) {
  .discover_app {
    padding: 30px;
  }
}

/*Collection*/
.collection_artists {
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: var(--margin-end);
  display: flex;
  flex-direction: column;
}

.collection_artists h2 {
  margin-bottom: 50px;
}

.collection_artists_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collection_artists_presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.collection_artists_presentation img {
  height: 420px;
  width: 290px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 160px;
}

.collection_artists_presentation h3 {
  font-weight: 100;
}

.collection_paintings {
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: var(--margin-end);
}

.collection_paintings h2 {
  margin-bottom: 50px;
}

.collection_paintings_list a {
  text-decoration: none;
  color: var(--white);
}

.collection_paintings_presentation {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.collection_paintings_list_element:nth-child(3)
  .collection_paintings_presentation,
.collection_paintings_list_element:nth-child(4)
  .collection_paintings_presentation {
  flex-direction: row-reverse;
  text-align: right;
}

.collection_paintings_presentation img {
  width: 370px;
  height: 270px;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection_paintings_presentation_txt {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
}

.collection_paintings_presentation_txt p,
.collection_paintings_presentation_txt h3 {
  font-family: var(--secondary-font);
  font-weight: 100;
  font-size: 1.7rem;
}

.collection_paintings_presentation_more {
  text-decoration: none;
  color: var(--white);
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
  transition: 0.2s;
}

.collection_paintings_list_element:nth-child(3)
  .collection_paintings_presentation_more,
.collection_paintings_list_element:nth-child(4)
  .collection_paintings_presentation_more {
  flex-direction: row;
}

.collection_paintings_list_element:nth-child(3)
  .collection_paintings_presentation_more
  .collection_paintings_presentation_more_icon,
.collection_paintings_list_element:nth-child(4)
  .collection_paintings_presentation_more
  .collection_paintings_presentation_more_icon {
  transform: rotate(0deg);
}

.collection_paintings_list .collection_paintings_presentation_more_icon {
  transition: 0.2s;
  transform: rotate(180deg);
}

.collection_paintings_list a:active .collection_paintings_presentation {
  transform: scale(0.99);
}

.collection_paintings_list a:hover .collection_paintings_presentation {
  background-color: var(--black-lighter);
  border-radius: 2px;
}

.collection_paintings_list a:hover .collection_paintings_presentation_more {
  color: var(--blue);
  gap: 24px;
}

@media screen and (max-width: 1400px) {
  .collection_artists,
  .collection_paintings {
    padding: var(--responsive-padding);
  }
}

@media screen and (max-width: 1300px) {
  .collection_artists_presentation img {
    width: 22vw;
  }
}

@media screen and (max-width: 1100px) {
  .collection_artists_presentation img {
    height: 335px;
  }
}

@media screen and (max-width: 765px) {
  .collection_paintings_presentation img {
    width: 320px;
    height: 250px;
  }
}

@media screen and (max-width: 850px) {
  .collection_artists_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .collection_artists_presentation img {
    width: revert;
  }
}

@media screen and (max-width: 600px) {
  .collection_paintings_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collection_paintings_presentation {
    flex-direction: column;
  }

  .collection_paintings_list_element:nth-child(3)
    .collection_paintings_presentation,
  .collection_paintings_list_element:nth-child(4)
    .collection_paintings_presentation {
    flex-direction: column;
    text-align: left;
  }

  .collection_paintings_presentation img {
    width: 92vw;
    height: 335px;
  }

  .collection_paintings_presentation {
    gap: 15px;
    margin-top: 60px;
  }

  .collection_paintings_presentation_txt span {
    margin-top: 15px;
  }

  .collection_paintings_presentation_txt {
    width: 100%;
    padding: 24px 16px;
  }

  .collection_paintings h2 {
    margin-bottom: 0;
  }

  .collection_paintings_list_element:nth-child(1)
    .collection_paintings_presentation {
    margin-top: 50px;
  }
}

@media screen and (max-width: 550px) {
  .banner__top h1 {
    font-size: calc(2rem + 4vw);
  }

  .collection_artists_list {
    gap: 16px;
  }

  .collection_artists_presentation img {
    width: 100%;
    height: 60vw;
  }

  .collection_artists_presentation h3 {
    font-size: var(--body);
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .collection_paintings_presentation img {
    height: 280px;
  }
}

@media screen and (max-width: 350px) {
  .collection_paintings_presentation img {
    height: 220px;
  }

  .collection_artists h2 {
    font-size: 2rem;
  }

  .collection_paintings h2 {
    font-size: 2rem;
  }
}

/*Oeuvre*/

.oeuvrepage {
  margin-top: 145px;
}

.oeuvrepage_ariane {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: 50px;
}

.oeuvrepage_ariane a {
  text-decoration: none;
  color: var(--white);
}

.oeuvrepage_infos {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto;
  margin-bottom: var(--margin-end);
}

.oeuvrepage_infos_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--margin-end);
}

.oeuvrepage_infos_titre {
  margin-bottom: 70px;
}

.oeuvrepage_infos_titre h2 {
  font-family: var(--main-font);
  font-weight: 100;
}

.oeuvrepage_infos_titre .oeuvrepage_infos_details {
  display: flex;
  flex-direction: row;
}

.oeuvrepage_infos .oeuvrepage_infos_details_image {
  width: 40%;
}

.oeuvrepage_infos .oeuvrepage_infos_details_image img {
  width: 100%;
  border-radius: 2px;
}

.oeuvrepage_infos .oeuvrepage_infos_details_txt {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 21px;
}

@media screen and (max-width: 1370px) {
  .oeuvrepage_ariane {
    padding: var(--responsive-padding);
  }

  .oeuvrepage_infos {
    padding: var(--responsive-padding);
  }
}

@media screen and (max-width: 1050px) {
  .oeuvrepage_ariane {
    margin-bottom: 60px;
  }

  .oeuvrepage_infos_titre h1 {
    font-size: 5rem;
  }

  .oeuvrepage_infos_titre h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .oeuvrepage_ariane {
    margin-bottom: 35px;
  }

  .oeuvrepage_infos_titre h1 {
    font-size: 4rem;
  }

  .oeuvrepage_infos_titre h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .oeuvrepage_infos_titre h1 {
    font-size: 3rem;
  }

  .oeuvrepage_infos_titre h2 {
    font-size: 1.3rem;
  }

  .oeuvrepage_infos_details {
    flex-direction: column;
    gap: 30px;
  }

  .oeuvrepage_infos .oeuvrepage_infos_details_image {
    width: 100%;
  }

  .oeuvrepage_infos .oeuvrepage_infos_details_image img {
    height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .oeuvrepage_infos .oeuvrepage_infos_details_txt {
    width: 100%;
  }

  .oeuvrepage_infos {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 440px) {
  .oeuvrepage_infos .oeuvrepage_infos_details_image img {
    height: 37vh;
  }

  .oeuvrepage_infos {
    margin-bottom: 10px;
  }
}

/* Billeterie */
.billeterie {
  margin: 130px auto var(--margin-end) auto;
  max-width: var(--max-width);
  padding: 0 var(--padding);
}

.billeterie__head {
  margin-bottom: 56px;
}

.billeterie__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.billeterie__left {
  display: flex;
  gap: 32px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* .billeterie__left>div {
  margin-top: 24px;
} */

.billeterie__left img {
  -o-object-fit: cover;
  object-fit: cover;
}

.billeterie__left .place {
  font-size: 1.1rem;
}

.expo__date {
  margin-top: 8px;
  margin-bottom: 24px;
}

.placeSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  min-width: 210px;
}

.billeterie__content form {
  width: 100%;
}

/* Field */

.field {
  margin-bottom: 40px;
}

.form__infos {
  margin-bottom: 32px;
}

.error {
  margin-bottom: 16px;
}

.field label {
  margin-bottom: 8px;
  display: block;
}

.field input,
.field select {
  border: none;
  border-radius: 2px;
  background-color: var(--black-lighter);
  height: 56px;
  width: 100%;
  padding: 16px;
  font-size: 1rem;
}

.field input:focus {
  outline-color: var(--blue);
}

.field input::-webkit-input-placeholder {
  font-size: 16px;
  color: var(--grey);
}

.field input::-moz-placeholder {
  font-size: 16px;
  color: var(--grey);
}

.field input:-ms-input-placeholder {
  font-size: 16px;
  color: var(--grey);
}

.field input::-ms-input-placeholder {
  font-size: 16px;
  color: var(--grey);
}

.field input::placeholder {
  font-size: 16px;
  color: var(--grey);
}

.field .caption {
  margin-top: 8px;
  color: var(--grey);
}

select {
  width: 100%;
  border: none;
  padding: 16px;
  border-radius: 2px;
}

input[type="date"] {
  color: var(--grey);
  /* Selectionner changer color */
}

select {
  font-size: 1rem;
  color: var(--grey);
}

select:focus {
  outline-color: var(--blue);
}

.field small {
  display: block;
  color: red;
  margin-top: 8px;
}

.field.error input,
.field.error select {
  border: 1px solid red;
}

.error {
  color: red;
  margin-top: 8px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1050px) {
  .billeterie__left {
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
  }
}

@media screen and (max-width: 1050px) {
  .billeterie__content {
    flex-direction: column;
    gap: 60px;
  }

  .form_parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .form_part1 {
    width: 60%;
  }

  .form_part2 {
    width: 35%;
  }

  .billeterie__left {
    gap: 44px;
  }
}

@media screen and (max-width: 830px) {
  .form_parts {
    flex-direction: column;
    gap: 0px;
  }

  .form_part1 {
    width: 100%;
  }

  .form_part2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  .billeterie__left {
    gap: 20px;
    flex-direction: column;
  }

  .placeSelector {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .billeterie_img {
    width: 100%;
    height: 28vh;
  }

  .field {
    width: 100%;
  }
}

@media screen and (max-width: 730px) {
  .billeterie {
    padding: 0 20px;
  }
}

@media screen and (max-width: 640px) {
  .form_part2 {
    flex-direction: column;
  }

  .form_part2 .field {
    margin-bottom: 0;
  }

  form input[type="submit" i] {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 500px) {
  .billeterie h1 {
    font-size: 1.8em !important;
  }
}

/* Footer */
footer {
  background-color: var(--black-lighter);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px var(--padding);
}

footer a {
  text-decoration: none;
  color: white;
}

footer h3 {
  border-bottom: solid 2px white;
  padding-bottom: 0.5vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1vh;
}

footer .footer_top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_part1 img {
  height: 70px;
}

footer .footer_top .footer_part2 {
  display: flex;
  flex-direction: column;
}

footer .footer_top .footer_part2 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

footer .footer_top .footer_part3 {
  display: flex;
  flex-direction: column;
}

footer .footer_top .footer_part3 .reseaux ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 15px;
  list-style: none;
}

.reseaux img {
  height: 50px;
  width: auto;
}

.footer_bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  margin-top: 22px;
}

@media screen and (max-width: 660px) {
  .footer_part1 {
    display: none;
  }

  .reseaux img {
    height: 43px;
  }
}

@media screen and (max-width: 530px) {
  footer {
    align-items: center;
    padding: 20px;
  }

  footer .footer_top {
    gap: 75px;
  }
}

@media screen and (max-width: 450px) {
  footer .footer_top {
    flex-direction: column;
    gap: 29px;
    width: 100%;
  }
}

/* Skeleton */

.skeleton {
  pointer-events: none;
  cursor: default;
}

.skeleton:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
  background-color: var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  -webkit-animation: 1s loading ease-in-out infinite;
  animation: 1s loading ease-in-out infinite;
}

@-webkit-keyframes loading {
  to {
    background-position-x: -20%;
  }
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.oeuvrepage_infos {
  min-height: 294.54;
}

.oeuvrepage_infos h1.skeleton::before {
  height: 210px;
  margin-bottom: 24px;
}

.oeuvrepage_infos h2.skeleton::before {
  height: 50px;
  width: 300px;
}

.oeuvrepage_infos .oeuvrepage_infos_details_image.skeleton::before {
  height: 400px;
}

.collection_artists_presentation h3.skeleton::before {
  height: 30px;
  width: 200px;
  border-radius: 2px;
}

.collection_artists_presentation div.skeleton::before {
  height: 420px;
  width: 290px;
  border-radius: 160px;
}

.collection_paintings_list_element
  .collection_paintings_presentation_image.skeleton::before {
  width: 370px;
  height: 270px;
}

.collection_paintings_list_element p.skeleton::before {
  width: 150px;
  height: 35px;
  margin-bottom: 8px;
}

.collection_paintings_list_element h3.skeleton::before {
  width: 400px;
  height: 35px;
}

.collection_paintings_list_element span.skeleton::before {
  width: 150px;
  height: 35px;
}

.notfound {
  padding-top: 111.5px;
  min-height: calc(100vh - 265.89px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
