*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Edensor-Free';
  src: url('./fonts/Edensor-Free.woff2') format('woff2'),
    url('./fonts/Edensor-Free.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2'),
    url('./fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2'),
    url('./fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
}

/* Variables */
:root {
  --background: #252829;
  --white: white;
  --blue: #57bbd7;
  --green: #77bc82;
  --grey: #b8b9bb;
  --beige: #fff3f3;
  --black-lighter: #373737;

  --main-font: 'Inter';
  --secondary-font: 'Edensor-Free';

  --headline: 6rem;
  --h2: 2.5rem;
  --h3: 1.2rem;
  --body: 1rem;
  --small: 0.8rem;

  --padding: 72px;
  --max-width: 1300px;

  color-scheme: dark;
}

body {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--white);
}

/* Text styles */
h1 {
  font-family: var(--secondary-font), serif;
  font-size: var(--headline);
  margin: 0;
}

.body-bold {
  font-weight: 600;
  font-size: var(--body);
}

h2,
.display2 {
  font-family: var(--secondary-font), serif;
  font-size: var(--h2);
  margin: 0;
}

h3,
.display3 {
  font-size: var(--h3);
  font-weight: 600;
}

p {
  font-size: var(--body);
}

/* Button */
.btn {
  color: var(--blue);
  font-weight: 600;
  font-size: var(--body);
  display: inline-flex;
  padding: 12px 38px;
  border: solid 2px var(--blue);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover,
.nav-active.btn {
  background-color: var(--blue);
  color: white;
}

/* Header */
header {
  display: flex;
  width: 100%;
  /* background-color: red; */
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--padding);
  position: fixed;
  top: 0;
  z-index: 999;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 72px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

.link {
  position: relative;
  transition: 0.2s;
}

.link::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--blue);
  transition: 0.2s;
}

.link:hover::after {
  width: 100%;
}

.link:hover {
  color: var(--blue);
}

.nav-active.link {
  color: var(--blue);
}

/* Main */
.hero {
  position: relative;
  /* background-image: url('../images/nuit-etoile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
  /* filter: brightness(0.5); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero .hero__bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: saturate(0);
  filter: saturate(0);
  transform: scale(1.1);
  transition: transform 0.3s, -webkit-filter 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-filter 0.3s;
  transition: filter 0.3s, transform 0.3s, opacity 0.3s;
  transition: filter 0.3s, transform 0.3s, opacity 0.3s, -webkit-filter 0.3s;
}

.hero a:hover~.hero__bg {
  -webkit-filter: revert;
  filter: revert;
  transform: scale(1.15);
  transition: transform 0.3s, -webkit-filter 0.3s;
  transition: filter 0.3s, transform 0.3s;
  transition: filter 0.3s, transform 0.3s, -webkit-filter 0.3s;
}

.hero a:hover~.radial__hero {
  opacity: 0;
  transition: opacity 0.3s;
}

.hero a:hover~.nav__hero {
  opacity: .85;
  transition: opacity 0.3s;
}

.hero .nav__hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 0.3s;
}

.hero .radial__hero {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .6;
  -o-object-fit: cover;
  object-fit: cover;
  transition: opacity 0.3s;
}

.hero h1 {
  font-size: var(--headline);
  max-width: 800px;
  text-align: center;
  margin-bottom: 48px;
}

.hero-top {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero-top .spacer {
  width: 40px;
  height: 2px;
  display: block;
  background-color: white;
}

.home_infos {
  display: flex;
  margin: auto;
  align-items: center;
  padding: 100px var(--padding);
  max-width: var(--max-width);
  gap: 56px;
}

.home_infos_left {
  flex: 1;
}

.home_infos_right {
  /* background-color: red; */
  flex: 1;
  position: relative;
  height: 350px;
}

.home_infos_right img {
  position: absolute;
}

.home_infos_right .nuitEtoile {
  top: 0;
  right: 10%;
  width: 75%;
  height: auto;
}

.home_infos_right .pontNeuf {
  bottom: 0;
  left: 0;
  width: 50%;
  height: auto;
}

.home_infos_right .soleilLevant {
  right: 0;
  bottom: 8%;
  width: 40%;
  height: auto;
}

.oeuvre-card {
  width: 400px;
  height: 400px;
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
}

.oeuvre-card img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Découvrir */
.discover_haut img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.discover_haut h1 {
  padding: 0 var(--padding);
  position: relative;
  bottom: 16vh;
  width: 50%;
  line-height: 13vh;
}

.discover_infos {
  padding: 0 var(--padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.discover_infos .discover_infos_left h2 {
  width: 70%;
}

.discover_infos .discover_infos_right {
  width: 70%;
}

.discover_univers {
  padding: 0 var(--padding);
  margin-top: 15vh;
}

.discover_univers h2 {
  margin-bottom: 2vh;
}

.discover_univers .discover_univers_contenu {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.discover_univers_contenu h3 {
  font-family: var(--secondary-font);
  font-size: var(--h3);
  margin-bottom: 4vh;
}

.discover_app {
  margin: 72px;
  padding: 40px var(--padding);
  margin-top: 15vh;
  background-color: var(--beige);
  border-radius: 20px;
  color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discover_app .discover_app_left {
  width: 50%;
}

.discover_app .discover_app_right {
  width: 50%;
}

.discover_app .discover_app_right h2 {
  margin-top: 0;
}

.discover_app .discover_app_right p {
  margin-bottom: 2vh;
}

.discover_app .discover_app_right a {
  margin-top: 3vh;
}

/* Footer */
footer {
  background-color: var(--black-lighter);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px var(--padding);
}

footer a {
  text-decoration: none;
  color: white;
}

footer h3 {
  border-bottom: solid 2px white;
  padding-bottom: 0.5vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1vh;
}

footer .footer_top {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

footer .footer_top .footer_part2 {
  display: flex;
  flex-direction: column;
}

footer .footer_top .footer_part2 ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

footer .footer_top .footer_part3 {
  display: flex;
  flex-direction: column;
}

footer .footer_top .footer_part3 .reseaux ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  list-style: none;
}

footer .footer_bottom {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-top: 3vh;
  justify-content: center;
}